<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Validating data</title>
    
	    <style>
	.bluetext {
		color: Teal;
	}
	</style>
	   
	    <style>
	.readtext {
		color: Orange;
	}
	</style>
</head>

<body>
    <h1 class="readtext"> MidVAL - providing reliable data</h1>

   
    <p class="bluetext"> Application Details:</p>
	<p class="bluetext"> Platform Details:</p>	
	<p class="bluetext"> Sensor Value:</p>
	<p class="bluetext"> Validation Result: <strong> yes, validated in x seconds, by ApproachValidation1 </strong>; </p>
	<p class="bluetext"> Recovery Result: <strong> yes, recovered in x seconds, by ApproachRecovery1 </strong>; </p>

    
</body>
</html>